@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --blackBase:rgb(51,51,51);
    --pinkBase:rgb(244, 51, 151);
    --greyBase:rgb(153,153,153);
    --greenBase:rgb(35,187,117);
    --textWhite:#fff;
  }
  